#main-container {
  padding-top: 70px;
}

#navbarNav {
  padding-left: 1em;
  padding-right: 1em;
}

.row {
  padding: 0.5em;
}

.return {
  font-weight: bold;
  text-align: right;
  padding: 1.5em;
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  width: 250px;
}

.carousel-text {
  padding-top: 45px;
  padding-left: 1em;
  padding-right: 2em;
  position: absolute;
}

.carousel-item {
  height: 35rem;
  color: white;
  background-color: #777;
  position: relative;
}

.carousel-container {
  position: absolute;
  bottom: 0;
  background-position: center;
}
